<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Recipe App</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=cyrillic"
            rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">

</head>

<body>


<!--<div class="custom-navbar"></div>-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="container">

        <a class="navbar-brand" href="/">Recipe App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <!-- Logged | Admin -->
                <li class="nav-item add-recipe-link">
                    <a class="nav-link" href="/recipe/add">Add recipe</a>
                </li>
                <!-- Logged -->
                <li class="nav-item profile-link">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <!-- No Logged -->
                <li class="nav-item login-link">
                    <a class="nav-link"
                       href="#"
                       data-toggle="modal"
                       data-target="#loginModal"
                    >Login</a>
                </li>
                <!-- Register -->
                <li class="nav-item register-link">
                    <a class="nav-link"
                       href="#"
                       data-toggle="modal"
                       data-target="#registerModal"
                    >Register</a>
                </li>
                <!-- Logged -->
                <li class="nav-item logout-link">
                    <a class="nav-link logout" href="/profile/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="login-form" action="login" method="POST">
                    <div class="form-group">
                        <label for="login-username">Username</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>
                            <input
                                    type="text" class="form-control"
                                    id="login-username"
                                    placeholder="Enter username"
                            >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="login-password">Password</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-key"></i>
                                </span>
                            </div>
                            <input
                                    type="password" class="form-control"
                                    id="login-password"
                                    placeholder="Enter password"
                            >
                        </div>
                    </div>
                    <!--
                    <div class="d-flex justify-content-between">
                        <button id="login-button" type="button" class="btn btn-success">Влез</button>
                        <button type="button" class="btn btn-outline-success"
                                data-toggle="modal"
                                data-target="#registerModal">Регистрация
                        </button>
                    </div> -->
                </form>

            </div>
            <div class="modal-footer">
<!--                <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>-->
                <button id="confirm-login" type="button" class="btn btn-success">Login</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Register</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="register-form" action="register" method="POST">
                    <div class="form-group">
                        <!--<label for="register-email">Email</label>-->
                        <input
                                name="email"
                                type="email"
                                class="form-control"
                                id="register-email" placeholder="Enter email">
                        <small></small>
                    </div>
                    <div class="form-group">
                        <!--<label for="register-username">Username</label>-->
                        <input
                                name="username"
                                type="text" class="form-control"
                                id="register-username"
                                placeholder="Enter username">
                        <small></small>
                    </div>
                    <div class="form-group">
                        <!--<label for="register-password">Password</label>-->
                        <input
                                name="password"
                                type="password" class="form-control"
                                id="register-password" placeholder="Enter password">
                        <small></small>
                    </div>
                    <div class="form-group">
                        <!--<label for="register-repeat-password">Repeat password</label>-->
                        <input type="password" class="form-control"
                               id="register-repeat-password" placeholder="Repeat password">
                        <small></small>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
<!--                <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>-->
                <button id="confirm-register" type="button" class="btn btn-success">Register</button>
            </div>
        </div>
    </div>
</div>


<div class="container mt-5 recipe-add-form">
    <div class="row">
        <!--        <section>-->
        <h2 class="recipe-whole-title">
            <span class="recipe-title"></span>
            <span> ready for </span>
            <span class="recipe-preptime"> </span> minutes</h2>
    </div>
    <div class="recipeContainer">
        <div class="row">
            <div class="col-8">
                <img class="cover recipe-cover">
            </div>
            <div class="col-4">

                <div>
                    <p class="title">Ingredients</p>
                    <ul class="recipe-ingredients">

                    </ul>
                </div>
            </div>

        </div>
        <div class="row">
            <div>
                <p class="title">Published by: <span class="recipe-author"></span></p>
            </div>
        </div>
        <div class="row">

            <div>
                <p class="title">Published at: <span class="recipe-publish-date"></span></p>
            </div>
        </div>
        <div class="row">

            <div>
                <p class="title">Cuisine: <span class="recipe-cuisine"></span></p>
            </div>
        </div>
        <div class="row">
            <div>
                <p class="title">Diet: <span class="recipe-diet"></span></p>
            </div>
        </div>
        <div class="row">
            <div>
                <p class="title">Description</p>
                <p class="recipe-description">Description</p>
            </div>
        </div>
        <div class="row">
            <div>
                <p class="title">Preparation</p>
                <p class="recipe-preparation">Preparation</p>
            </div>
        </div>

        <div class="row">
            <a class="edit-recipe-link" href="">Edit recipe</a>
            <a class="delete-recipe-link" href="">Delete recipe</a>
        </div>
    </div>
    <!--        </section>-->
</div>
</div>


<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="../js/navbar.js"></script>
<script src="../js/recipe.js"></script>
<script src="../js/login.js"></script>
<script src="../js/register.js"></script>
<script src="../js/logout.js"></script>
</body>


</html>