/* Selector �� ������ �������� */
* {
    box-sizing: border-box;
}

/* Selector �� ��� */
body {
    background-color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
}

/* Selector �� id */
#main-container {
    background-color: #ffffff;
    padding: 100px;
    display: flex;
}

/* Selector �� class */
.main-item {
    background-color: rgb(61, 155, 61);
    padding: 5px;
    flex: 1; 
    border-radius: 5px;
    border: 1px solid #2c802c;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 10px 10px 5px -9px rgba(0,0,0,0.75);
}
/* Selector �� �������� � ������� ����� ������� */
.main-item:hover {
    background-color: rgb(74, 190, 74);
}

/* Selector �� ������� ������� �� ���� ������� */
.main-item + .main-item {
    margin-left: 45px;
}

/* Selector, ����� � ���������� ���� �� ��������� � ���� .main-item */
.main-item .main-img {
    width: 100%;
}

.main-item .main-heading {
    font-size: 22px;
    font-weight: bold;
}
.main-item .main-description {
    font-size: 18px;
}

.recipe-add-form > .row > .recipe-whole-title{
    text-align: center;
}

.recipe-cover{
    max-width:100%;
    max-height:100%;
}

.title:not(span) {
    font-weight: bold;
    font-size: 1.5rem;
}

.title > span{
    font-weight: normal;
    font-size: 1.2rem;
}

.recipe-ingredients {
    list-style: none;
    padding: 0;
}
.recipe-ingredients >li {
    padding-left: 1.3em;
}
.recipe-ingredients > li:before {
    content: "\f00c"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
}